{% extends "base.html" %}

<!-- Meta Title -->
{% block title %}
    <title>All Flowers</title>
{% endblock %}

<!-- Main Content -->
{% block content %}

    <h1 class="text-center h1 mt-5 pt-5"><span id="all-flowers">All Flowers</span></h1>

    <!-- All Flowers Container with for loop -->

    <!-- If there are flowers found (used for flower search) -->
    {% if flowers|length > 0 %}
        <!-- Iterate over each flower -->
        {% for flower in flowers %}
            <!-- Change display orientation on every second flower -->
            {% if loop.index % 2 != 0 %}
                <section class="container">
                    <div class="flowers-container-left">
                        <div class="row">
                            <!-- Flower Image -->
                            <div class="col-md-6 text-center">
                                <a href="{{ url_for('flower', flower_id=flower._id) }}"><img src="{{ flower.image_url }}"
                                        alt="{{ flower.flower_name }}"></a>
                            </div>
                            <!-- ./Flower Image -->
                            <!-- Flower Info -->
                            <div class="col-md-6">
                                <h4><a href="{{ url_for('flower', flower_id=flower._id) }}">{{ flower.flower_name|title }}</a></h4>
                                <p><em>{{ flower.latin_name|upper }}</em></p>
                                <!-- If the flower is a wildflower, display Locations -->
                                {% if flower.is_wildflower == "on" %}
                                    <p>Type: Wildflower</p>
                                    <p>Locations: {{ flower.location }}</p>
                                <!-- Otherwise, display Occasions -->
                                {% else %}
                                    <p>Occasions: {{ flower.occasions }}</p>
                                {% endif %}
                                <p>Flowering Time: {{ flower.flowering_time|title }}</p>
                                <a class="see-more" href="{{ url_for('flower', flower_id=flower._id) }}">See More</a>
                            </div>
                            <!-- ./Flower Info -->
                        </div>
                    </div>
                </section>
            {% else %}
                <section class="container">
                    <div class="flowers-container-right d-none">
                        <div class="row">
                            <!-- Flower Info -->
                            <div class="col-md-6">
                                <h4><a href="{{ url_for('flower', flower_id=flower._id) }}">{{ flower.flower_name|title }}</a></h4>
                                <p><em>{{ flower.latin_name|upper }}</em></p>
                                <!-- If the flower is a wildflower, display Locations -->
                                {% if flower.is_wildflower == "on" %}
                                    <p>Type: Wildflower</p>
                                    <p>Locations: {{ flower.location }}</p>
                                <!-- Otherwise, display Occasions -->
                                {% else %}
                                    <p>Occasions: {{ flower.occasions }}</p>
                                {% endif %}
                                <p>Flowering Time: {{ flower.flowering_time|title }}</p>
                                <a class="see-more" href="{{ url_for('flower', flower_id=flower._id) }}">See More</a>
                            </div>
                            <!-- ./Flower Info -->
                            <!-- Flower Image -->
                            <div class="col-md-6 text-center">
                                <a href="{{ url_for('flower', flower_id=flower._id) }}"><img src="{{ flower.image_url }}"
                                        alt="{{ flower.flower_name }}"></a>
                            </div>
                            <!-- ./Flower Image -->
                        </div>
                    </div>
                    <!-- Makes every second iteration display like the first, only on mobile -->
                    <div class="flowers-container-left-mobile d-block">
                        <div class="row">
                            <!-- Flower Image -->
                            <div class="col-md-6 text-center">
                                <a href="{{ url_for('flower', flower_id=flower._id) }}"><img src="{{ flower.image_url }}"
                                        alt="{{ flower.flower_name }}"></a>
                            </div>
                            <!-- ./Flower Image -->
                            <!-- Flower Info -->
                            <div class="col-md-6">
                                <h4><a href="{{ url_for('flower', flower_id=flower._id) }}">{{ flower.flower_name|title }}</a></h4>
                                <p><em>{{ flower.latin_name|upper }}</em></p>
                                {% if flower.is_wildflower == "on" %}
                                    <p>Type: Wildflower</p>
                                    <p>Locations: {{ flower.location }}</p>
                                {% else %}
                                    <p>Occasions: {{ flower.occasions }}</p>
                                {% endif %}
                                <p>Flowering Time: {{ flower.flowering_time|title }}</p>
                                <a class="see-more" href="{{ url_for('flower', flower_id=flower._id) }}">See More</a>
                            </div>
                            <!-- ./Flower Info -->
                        </div>
                    </div>
                    <!-- ./Makes every second iteration display like the first, only on mobile -->
                </section>
            {% endif %}
            <!-- ./Change display orientation on every second flower -->
        {% endfor %}
        <!-- ./Iterate over each flower -->
    <!-- If no flowers found, display and message and search bar -->
    {% else %}
        <section class="row">
            <div class="col text-center m-4">
                <h4>No results found.</h4>
                <form action="{{ url_for('search') }}" method="post" class="text-center">
                    <input type="search" name="query" id="query" minlength="3" class="btn info btn-lg m-2"
                        placeholder="Search again" required>
                </form>
            </div>
        </section>
    {% endif %}
    <!-- ./All Flowers Container with for loop -->


{% endblock %}