{% extends "base.html" %}

<!-- Meta Title -->
{% block title %}
    <title>Edit Flower</title>
{% endblock %}

<!-- Main Content -->
{% block content %}

    <h1 class="text-center register">Edit Flower</h1>
    
    <!-- Edit Flower Form -->
    <section class="row">
        <div class="col-1 col-lg-3"></div>
        <div class="col-10 col-lg-6">
            <!-- Form referenced from https://mdbootstrap.com/docs/standard/forms/overview/#subsection-register -->
            <form method="POST" action="{{ url_for('edit_flower', flower_id=flower._id) }}">
                <div class="row mb-4">
                    <!-- Flower Name -->
                    <div class="col form-first-name">
                        <div class="form-outline">
                            <input type="text" id="flower_name" name="flower_name" class="form-control"
                                placeholder="e.g. Agrimony" value="{{ flower.flower_name|title }}" minlength="3"
                                maxlength="30" required />
                            <label class="form-label" for="flower_name">Flower Name</label>
                        </div>
                    </div>
                    <!-- Irish Name -->
                    <div class="col form-last-name">
                        <div class="form-outline">
                            <input type="text" id="irish_name" name="irish_name" class="form-control"
                                placeholder="e.g. Marbhdhraighean" value="{{ flower.irish_name|title }}" minlength="3"
                                maxlength="30" />
                            <label class="form-label" for="irish_name">Irish Name</label>
                        </div>
                    </div>
                </div>
    
                <div class="row mb-4">
                    <!-- Latin Name -->
                    <div class="col form-first-name">
                        <div class="form-outline">
                            <input type="text" id="latin_name" name="latin_name" class="form-control"
                                placeholder="e.g. Agrimonia Eupatoria" value="{{ flower.latin_name|title }}" minlength="3"
                                maxlength="30" required />
                            <label class="form-label" for="latin_name">Latin Name</label>
                        </div>
                    </div>
                    <!-- Family -->
                    <div class="col form-last-name">
                        <div class="form-outline mb-4">
                            <input type="text" id="family" name="family" class="form-control" placeholder="e.g. Rosaceae"
                                value="{{ flower.family|title }}" minlength="3" maxlength="30" required />
                            <label class="form-label" for="family">Flower Family</label>
                        </div>
                    </div>
                </div>
    
    
                <!-- Flowering Time -->
                <div class="form-outline mb-4">
                    <input type="text" id="flowering_time" name="flowering_time" class="form-control"
                        placeholder="e.g. June-September" value="{{ flower.flowering_time|title }}" minlength="6"
                        maxlength="22" required />
                    <label class="form-label" for="flowering_time">Flowering Time</label>
                </div>
    
                <!-- Description -->
                <div class="form-outline mb-4">
                    <textarea type="text" id="description" name="description" class="form-control"
                        placeholder="e.g. Tall spikes of small yellow flowers..." minlength="20" maxlength="250" required>{{
                        flower.description }}</textarea>
                    <label class="form-label" for="description">Flower Description</label>
                </div>
    
                <!-- Is Wildflower -->
                <div class="form-outline mb-4 text-left">
                    {% if flower.is_wildflower == "on" %}
                        <label class="form-label" for="is_wildflower">Is this flower a wildflower?</label>
                        <input type="checkbox" id="is_wildflower" name="is_wildflower" class="form-control checkbox" checked />
                    {% else %}
                        <label class="form-label" for="is_wildflower">Is this flower a wildflower?</label>
                        <input type="checkbox" id="is_wildflower" name="is_wildflower" class="form-control checkbox" checked/>
                    {% endif %}
                </div>
                
                {% if flower.is_wildflower == "on" %}
                    <!-- Location -->
                    <div class="form-outline location mb-4 d-block">
                        <input type="text" id="location" name="location" class="form-control"
                            placeholder="e.g. Found on dry grassland, hedgerows, roadsides. Prefers calcareous soils."
                            value="{{ flower.location }}" minlength="10" maxlength="100" />
                        <label class="form-label" for="location">Where can it be found?</label>
                    </div>
                    
                    <!-- Occasions -->
                    <div class="form-outline mb-4 occasions d-none">
                        <input type="text" id="occasions" name="occasions" class="form-control"
                            placeholder="e.g. Romance, Weddings, Birthdays, Get Well, With Sympathies etc..." value="{{ flower.occasions }}"
                            minlength="10" maxlength="100" />
                        <label class="form-label" for="occasions">What occasion(s) is it used for?</label>
                    </div>
                {% else %}
                    <!-- Location -->
                    <div class="form-outline location mb-4 d-none">
                        <input type="text" id="location" name="location" class="form-control"
                            placeholder="e.g. Found on dry grassland, hedgerows, roadsides. Prefers calcareous soils."
                            value="{{ flower.location }}" minlength="10" maxlength="100" />
                        <label class="form-label" for="location">Where can it be found?</label>
                    </div>
                    
                    <!-- Occasions -->
                    <div class="form-outline mb-4 occasions d-block">
                        <input type="text" id="occasions" name="occasions" class="form-control"
                            placeholder="e.g. Romance, Weddings, Birthdays, Get Well, With Sympathies etc..." value="{{ flower.occasions }}"
                            minlength="10" maxlength="100" />
                        <label class="form-label" for="occasions">What occasion(s) is it used for?</label>
                    </div>
                {% endif %}
    
                <!-- Image Url -->
                <div class="form-outline mb-4">
                    <input type="url" id="image_url" name="image_url" class="form-control" value="{{ flower.image_url }}"
                        placeholder="https://..." required />
                    <label class="form-label" for="image_url">Image URL</label>
                </div>
                
                <!-- Buttons -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn mb-4 form-submit-btn">Edit Flower</button>
                    <a href="{{ url_for('flower', flower_id=flower_id) }}" class="btn mb-4 cancel-button">Cancel</a>
                </div>
            </form>
        </div>
        <div class="col-1 col-lg-3"></div>
    </section>
    <!-- ./Edit Flower Form -->

{% endblock %}