{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="flower-container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="{{ flower.image_url }}" alt="{{ flower.flower_name }}">
                </div>
                <div class="col-md-6">
                    <h3>{{ flower.flower_name|title }}</h3>
                    <h6>{{ flower.latin_name|upper }}</h6>
                    <p>{{ flower.description }}</p>
                    <a class="see-more" href="{{ url_for('flower', flower_id=flower._id) }}">See More</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Flower Info</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Family:</h5>
                    <p>{{ flower.family|title }}</p>
                </div>
                <div class="col-md-6">
                    <h5>Flowering Time:</h5>
                    <p>{{ flower.flowering_time }}</p>
                </div>
                <div class="col-md-6">
                    <h5>Irish Name:</h5>
                    <p>{{ flower.irish_name|title }}</p>
                </div>
                <div class="col-md-6">
                    <h5>Locations Found:</h5>
                    <p>{{ flower.location }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}