{% extends "base.html" %}

<!-- Meta Title -->
{% block title %}
    <title>{{ flower.flower_name|title }}</title>
{% endblock %}

<!-- Main Content -->
{% block content %}

    <div class="container">
        <div class="flower-container">
            <div class="row">
                <!-- Image -->
                <div class="col-md-6 text-center">
                    <img src="{{ flower.image_url }}" alt="{{ flower.flower_name }}">
                </div>
                <!-- Overview -->
                <div class="col-md-6">
                    <h3>{{ flower.flower_name|title }}
                        {% if session.user %}
                            <span><a href="{{ url_for('edit_flower', flower_id=flower._id) }}" class="btn btn-lg edit-btn">Edit Flower</a></span>
                        {% endif %}
                    </h3>
                    <h6>{{ flower.latin_name|upper }}</h6>
                    {% if flower.is_wildflower == "on" %}
                        <p><strong>Type: Wildflower</strong></p>
                        <p>{{ flower.description }}</p>
                    {% else %}
                        <p>{{ flower.description }}</p>
                        {% if flower.affiliate_1 or flower.affiliate_2 %}
                            <h5>Available:</h5>
                            {% if flower.affiliate_1 %}
                                <a class="flower-affiliate-link" href="{{ flower.affiliate_1 }}" target="_blank">Dublin - Howbart & Mays</a>
                            {% endif %}
                            {% if flower.affiliate_2 %}
                                <a class="flower-affiliate-link" href="{{ flower.affiliate_2 }}" target="_blank">Galway - Knocknacarra Florists</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <!-- Flower Info -->
            <div class="flower-info">
                <div class="row">
                    <div class="col">
                        <h4>Flower Info</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Family:</h5>
                        <p>{{ flower.family|title }}</p>
                    </div>
                    {% if flower.is_wildflower == "off" %}
                        <div class="col-md-6">
                            <h5>Occasions:</h5>
                            <p>{{ flower.occasions|title }}</p>
                        </div>
                    {% endif %}
                    <div class="col-md-6">
                        <h5>Flowering Time:</h5>
                        <p>{{ flower.flowering_time }}</p>
                    </div>
                    <div class="col-md-6">
                        <h5>Irish Name:</h5>
                        <p>{{ flower.irish_name|title }}</p>
                    </div>
                    <div class="col-md-6">
                        {% if flower.is_wildflower == "on" %}
                            <h5>Locations Found:</h5>
                            <p>{{ flower.location }}</p>
                        {% else %}
    
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- User Images -->
            {% if user_images %}
                <div class="row">
                    <div class="col-md-6">
                        <h4>Images
                            {% if session.user %}
                                <p><a class="btn btn-lg waves-effect edit-btn" href="{{ url_for('add_user_image', flower_id=flower._id) }}">Add Your Image!</a></p>
                            {% else %}
                                <p>(<a href="{{ url_for('login') }}">Log in</a> to add your own images!)</p>
                            {% endif %}
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- Displays all user-submitted images of the flower with the user-submitted description as the alt tag -->
                        {% for image in user_images %}
                            {% if image in current_user_images %}
                                <div class="image-container">
                                    <img class="current-user-image" src="{{ image.image_source }}" alt="{{ image.description }}">
                                    <p class="your-image">Your image</p>
                                    <a href="{{ url_for('delete_user_image', image_id=image._id) }}" class="btn user-image-delete-btn d-none">Delete</a>
                                </div>
                            {% else %}
                                <div class="image-container">
                                    <img src="{{ image.image_source }}" alt="{{ image.description }}">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
            <div class="row">
                <div class="col-md-6">
                    <h4>Images
                        <p>No user images were found.</p>
                        {% if session.user %}
                            <p><a class="btn btn-lg waves-effect edit-btn" href="{{ url_for('add_user_image', flower_id=flower._id) }}">Add Your Image!</a></p>
                        {% else %}
                            <p>(<a href="{{ url_for('login') }}">Log in</a> to add your own images!)</p>
                        {% endif %}
                    </h4>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col">
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}