{% extends "base.html" %}
{% block content %}
    <div class="bg-image text-center">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1>Floral Reef</h1>
                    <h4>Wild Flowers of Ireland</h4>
                    <br>
                    <a href="" role="button" class="btn btn-outline-light btn-lg m-2">Search</a>
                    <a href="" role="button" class="btn btn-outline-light btn-lg m-2">Get Inspired</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}