{% extends "base.html" %}

<!-- Meta Title -->
{% block title %}
    <title>Floral Reef</title>
{% endblock %}

<!-- Main Content -->
{% block content %}
    <div class="bg-image text-center">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="jumbotron text-white">
                    <h1>Floral Reef</h1>
                    <h4 class="lead">The Only Community-Driven Irish Flower Encyclopedia</h4>
                    <br>
                    <a href="" role="button" class="btn btn-outline-light btn-lg m-2">Search</a>
                    <a href="" role="button" class="btn btn-outline-light btn-lg m-2">Get Inspired</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}