{% extends "base.html" %}

<!-- Meta Title -->
{% block title %}
    <title>{{ name.capitalize() }}'s Profile</title>
{% endblock %}

<!-- Main Content -->
{% block content %}

    <!-- Referenced from https://mdbootstrap.com/docs/standard/components/cards/#subsection-simple -->
    <section class="row profile">
        <div class="col-md-2"></div>
        <div class="col-md-8 card">
            <div class="card-body">
                <!-- User's Name -->
                <h3 class="text-center">
                    {{ name.capitalize() }}'s Profile
                </h3>
                <!-- ./User's Name -->
                <br>
                <h6>
                    <!-- Edit Profile Button -->
                    <a class="btn btn-lg waves-effect edit-btn"
                        href="{{ url_for('edit_profile', email=session['user']) }}">Edit Profile</a>
                    <!-- ./Edit Profile Button -->
                </h6>
                <br>
                <h5>Your Images</h5>
                <div class="row">
                    <!-- Current User Images -->
                    {% for image in user_images %}
                        <div class="col-6 col-md-4">
                            <figure>
                                <img class="d-inline-flex profile-images" src="{{ image.image_source }}" alt="{{ image.description }}">
                            </figure>
                        </div>
                    {% endfor %}
                    <!-- ./Current User Images -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}