{% extends "base.html" %}

<!-- Meta Title -->
{% block title %}
    <title>{{ name.capitalize() }}'s Profile</title>
{% endblock %}

<!-- Main Content -->
{% block content %}

    <!-- References from https://mdbootstrap.com/docs/standard/components/cards/#subsection-simple -->
    <div class="row profile">
        <div class="col-md-2"></div>
        <div class="col-md-8 card">
            <div class="card-body">
                <h3 class="text-center">
                    {{ name.capitalize() }}'s Profile
                </h3>
                <br>
                <h6>
                    <a class="btn btn-lg waves-effect edit-btn" href="{{ url_for('edit_profile', email=session['user']) }}">Edit Profile</a>
                </h6>
                <br>
                <h5>Your Images</h5>
                <div class="row">
                    {% for image in user_images %}
                            <div class="col-6 col-md-4">
                                <img class="d-inline-flex profile-images" src="{{ image.image_source }}" alt="{{ image.description }}">
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}