{% extends "base.html" %}
{% block content %}

    <h1 class="text-center mt-5 mb-5 pt-5">Register</h1>
    <h5 class="text-center mb-5">Register now to start adding flowers and contributing to the community!</h5>

    <div class="row">
        <div class="col-sm-none col-md-3"></div>
        <div class="col-md-6">
            <!-- Form referenced from https://mdbootstrap.com/docs/standard/forms/overview/#subsection-register -->
            <form method="POST" action="{{ url_for('register') }}">
                <div class="row mb-4">
                    <!-- First Name -->
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="first_name" name="first_name" class="form-control" />
                            <label class="form-label" for="first_name">First name</label>
                        </div>
                    </div>
                    <!-- Last Name -->
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="last_name" name="last_name" class="form-control" />
                            <label class="form-label" for="last_name">Last name</label>
                        </div>
                    </div>
                </div>
            
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="email" name="email" class="form-control" />
                    <label class="form-label" for="email">Email Address</label>
                </div>
            
                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control" />
                    <label class="form-label" for="password">Password</label>
                </div>
            
                <!-- Submit button -->
                <button type="submit" class="btn btn-block mb-4 form-submit-btn">Sign up</button>
            </form>
        </div>
    </div>

{% endblock %}